/* font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fira Sans', sans-serif; 
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
    box-sizing: border-box;
 }



#profilePic {
    height: 100px;
    width: 100px;
    margin-top: .5em;
}

#name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

h6, h4, p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 100%;

}

.caption {
    font-size: 16px;
    line-height: 150%;
}

.parallax-container {
    height: 200px;
}

#parTop {
    height: 100px;
}


#projectsSection {
    min-height: 250px;

}

#projectsContainer {
    display: flex;
    flex-wrap: wrap;
}



/* .card-image {
} */

.card-title {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}

#bannerSection {
    margin: 0;
    padding: 0;
}

#projectsTitle, {
    margin-bottom: 1em;
    
}

.myDivider {
    background-color: #b0bec5;
    margin-bottom: 1em;
}

#bannerDividerBtm {
    margin-bottom: -.5em;
}

#bannerDividerTp {
    margin-bottom: 1em;
}

#contactRAling {
    line-height: 100%;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 2px #78909c; 
    display: inline-block;
    vertical-align: super;
}
.footerImgLink {
    display: inline-block;
    margin-right: 5px;
}

#emailIcon {
    font-size: 48px;
    /* color:#607d8b; */
    color: #607d8b;

}

.cardMinHeight {
    min-height: 210px;
}