/* font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fira Sans', sans-serif; 
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
    box-sizing: border-box;
 }

#profilePic {
    height: 70px;
    width: 70px;
    margin-top: .5em;
}

h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

h6, h4 {
    font-family: "Robot", sans-serif;
    font-weight: 300;
    line-height: .5em;
}

.parallax-container {
    height: 200px;
}

#parTop {
    height: 100px;
}


#projectsSecion {
    min-height: 250px;
}



/* .card-image {
} */

.card-title {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}

#banner {
    margin-bottom: 1em;
}
#projectsTitle, .myDivider {
    margin-bottom: 1em;
}
#bannerDividerBtm {
    margin-bottom: -.5em;
}

#bannerDividerTp {
    margin-bottom: 1em;
}

