/* font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fira Sans', sans-serif; 
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
    box-sizing: border-box;
 }

#profilePic {
    height: 80px;
    width: 80px;
    margin-top: .5em;
}

#name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

h6, h4, p {
    font-family: "Robot", sans-serif;
    font-weight: 300;
    line-height: 100%;

}

.parallax-container {
    height: 200px;
}

#parTop {
    height: 100px;
}


#projectsSecion {
    min-height: 250px;
}



/* .card-image {
} */

.card-title {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}

 #bannerSection {
    margin: 0;
    padding: 0;
}

#projectsTitle, {
    margin-bottom: 1em;
    
}

.myDivider {
    background-color: #b0bec5;
    margin-bottom: 1em;
}

#bannerDividerBtm {
    margin-bottom: -.5em;
}

#bannerDividerTp {
    margin-bottom: 1em;
}

#contactRAling {
    line-height: 100%;
}

